body {
  background-color:  #000000 ;
  font-family: Arial;
  height: 100vh;
}

.bg-image{
  background-image: url('Wallpaper.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: auto 100vh; 
}
.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
 font-style: italic;
}
